@page "/"
@using BL_OxO_Wasm_Net8.Shared.Models

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))

<h3>Lobby</h3>

@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavMan.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<List<GameRoom>>("Rooms", (roomList) =>
        {
            Console.WriteLine($"Room list count: {roomList.Count}");
        });

        await hubConnection.StartAsync();
    }

    private async Task CreateRoom()
    {
        if (hubConnection is null)
        {
            return;
        }

        await hubConnection.InvokeAsync("CreateRoom");
    }
}
