@page "/"
@using BL_OxO_Wasm_Net8.Client.Components
@using BL_OxO_Wasm_Net8.Shared.Models

@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))

<h3>Lobby</h3>

@if (currentRoom is null)
{
    <input placeholder="Player Name" @bind="playerName" />
    <input placeholder="Room Name" @bind="currentRoomName" />
    <button @onclick="CreateRoom">Create Room</button>

    <h3>Rooms:</h3>
    <ul>
        @foreach (var room in rooms)
        {
            <li>@room.RoomName <button @onclick="() => JoinRoom(room.RoomId)">Join Room</button></li>
        }
    </ul>
}
else
{
    <CascadingValue Value="hubConnection">
        <Room CurrentRoom="currentRoom" />
    </CascadingValue>
}

@code {
    private HubConnection? hubConnection;
    private string playerName = string.Empty;
    private string currentRoomName = string.Empty;
    private GameRoom? currentRoom;
    private List<GameRoom> rooms = new();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavMan.ToAbsoluteUri("/gamehub"))
            .Build();

        hubConnection.On<List<GameRoom>>("Rooms", (roomList) =>
        {
            Console.WriteLine($"Room list count: {roomList.Count}");
            rooms = roomList;
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    private async Task CreateRoom()
    {
        if (hubConnection is null)
        {
            return;
        }

        currentRoom = await hubConnection.InvokeAsync<GameRoom>("CreateRoom", currentRoomName, playerName);
    }

    private async Task JoinRoom(string roomId)
    {
        if (hubConnection is null)
        {
            return;
        }

        var joinedRoom = await hubConnection.InvokeAsync<GameRoom>("JoinRoom", roomId, playerName);
        if (joinedRoom is not null)
        {
            currentRoom = joinedRoom;
        }
        else
        {
            Console.WriteLine("Failed to join room.");
        }
    }
}
